<% include partials/header.ejs %>

<h1>This is the HomePage!</h1>

<img src="https://s1.ticketm.net/tm/en-us/dam/a/7a9/7cf88e67-e96e-4fc1-a045-b19536eb97a9_708371_CUSTOM.jpg">

<% include partials/footer.ejs %>